.navigation-bar {
  width: 100%;
  background-color: #000080;
  display: flex;
  justify-content: center;
  gap: 20px;

  button {
    padding: 0.6rem 1.2rem;
    color: $text-color;
    background-color: #000080;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    border: 0px;

    &:hover {
      background-color: #000058;
      color: #ffffff;
    }
}
}

@media (max-width: 768px) {
  .navigation-bar {
    flex-wrap: wrap;
    gap: 10px;
  }
}