// Cores principais
$background-color: #000080; // Azul escuro
$text-color: #ffffff;       // Branco
$hover-background: #000058; // Dourado no hover

.navigation-bar {
  width: 100%;
  background-color: #000080;
  display: flex;
  justify-content: center;
  gap: 20px;

  button {
    padding: 0.6rem 1.2rem;
    color: $text-color;
    background-color: $background-color;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    border: 0px;

    &:hover {
      background-color: $hover-background;
      color: $text-color;
    }
}
}

/* Responsivo */
@media (max-width: 768px) {
  .navigation-bar {
    flex-wrap: wrap;
    gap: 10px;
  }
}