button {
    align-items: center;
    justify-content: center;
    background-color:  #002147;
    color: white;
    border: 1px solid #FFD700;
    border-radius: 5px;
    font-weight: 500;

    cursor: pointer;
    
    transition: all 0.3s ease;
    padding: 0.6rem 1.2rem;

    &:hover {
        background-color:  #FFD700;
        color:  #002147;
        border-color: #FFD700;
    }
}