<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
        <h3>Contatos:</h3>
        <div class="contacts">
            <p>Telefone:</p>
            <p>+55 11 98765-4321</p>
        </div>
        <div class="contacts">
            <p>Email:</p>
            <p>gbrl.brasil&#64;gmail.com</p>
        </div>
    </div>
    <div class="footer-section">
      <h3>Nossas Redes:</h3>
      <div class="social-links">
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Linkedin</a>
        <a href="#">Twitter</a>
      </div>
    </div>
  </div>
</footer>