.header {
  width: 100%;
  background-color: #000080;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 5%;
  border-bottom: 2px solid #ffd700;

  &_title {
    align-items: center;

    .logo {
      width: 150px;
      height: 75px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 10px;

    &_title {
      justify-content: center;
      margin-bottom: 10px;
    }

    .search-bar {
      margin-top: 8px;
      width: 100%;
      justify-content: center;
    }

    .menu {
      justify-content: center;
      margin-top: 8px;
    }
  }
}
