.grid {
  display: flex;
  overflow: hidden;

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    width: 100%;
    padding: 2%;
    .product{
      border: 1px solid;
    }
  }
}